@font-face {
  font-family: 'iconfont';
  src:  url('../fonts/iconfont.eot?t6pf6o');
  src:  url('../fonts/iconfont.eot?t6pf6o#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.ttf?t6pf6o') format('truetype'),
    url('../fonts/iconfont.woff?t6pf6o') format('woff'),
    url('../fonts/iconfont.svg?t6pf6o#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconfont-"], [class*=" iconfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-open-envelope:before {
  content: "\e900";
}
.iconfont-open-lock:before {
  content: "\e901";
}
.iconfont-padlock:before {
  content: "\e902";
}
.iconfont-paper-plane:before {
  content: "\e903";
}
.iconfont-photo-camera:before {
  content: "\e904";
}
.iconfont-photo-camera-1:before {
  content: "\e905";
}
.iconfont-placeholder:before {
  content: "\e906";
}
.iconfont-play-button:before {
  content: "\e907";
}
.iconfont-plus-symbol:before {
  content: "\e908";
}
.iconfont-reload:before {
  content: "\e909";
}
.iconfont-right-arrow:before {
  content: "\e90a";
}
.iconfont-settings:before {
  content: "\e90b";
}
.iconfont-smartphone:before {
  content: "\e90c";
}
.iconfont-star:before {
  content: "\e90d";
}
.iconfont-tumblr-logo-button:before {
  content: "\e90e";
}
.iconfont-twitter-logo-button:before {
  content: "\e90f";
}
.iconfont-two-lines:before {
  content: "\e910";
}
.iconfont-up-arrow:before {
  content: "\e911";
}
.iconfont-upload-to-cloud:before {
  content: "\e912";
}
.iconfont-user:before {
  content: "\e913";
}
.iconfont-circular-arrow:before {
  content: "\e914";
}
.iconfont-circular-arrow-1:before {
  content: "\e915";
}
.iconfont-clock:before {
  content: "\e916";
}
.iconfont-cloud:before {
  content: "\e917";
}
.iconfont-diagonal-arrow:before {
  content: "\e918";
}
.iconfont-diagonal-arrow-1:before {
  content: "\e919";
}
.iconfont-diagonal-arrow-2:before {
  content: "\e91a";
}
.iconfont-diagonal-arrow-3:before {
  content: "\e91b";
}
.iconfont-diagonal-line:before {
  content: "\e91c";
}
.iconfont-download-arrow:before {
  content: "\e91d";
}
.iconfont-download-arrow-1:before {
  content: "\e91e";
}
.iconfont-download-arrow-2:before {
  content: "\e91f";
}
.iconfont-download-from-cloud:before {
  content: "\e920";
}
.iconfont-edit:before {
  content: "\e921";
}
.iconfont-envelope:before {
  content: "\e922";
}
.iconfont-exclamation:before {
  content: "\e923";
}
.iconfont-facebook-logo-button:before {
  content: "\e924";
}
.iconfont-file:before {
  content: "\e925";
}
.iconfont-google-plus-logo-button:before {
  content: "\e926";
}
.iconfont-heart:before {
  content: "\e927";
}
.iconfont-heart-upside-down:before {
  content: "\e928";
}
.iconfont-home:before {
  content: "\e929";
}
.iconfont-instagram-logo:before {
  content: "\e92a";
}
.iconfont-left-arrow:before {
  content: "\e92b";
}
.iconfont-letter-x:before {
  content: "\e92c";
}
.iconfont-loupe:before {
  content: "\e92d";
}
.iconfont-minus-symbol:before {
  content: "\e92e";
}

